doctype html
html
  head
    link(href='index.css', rel='stylesheet', type='text/css')
    script(src='lodash.min.js', type='text/javascript')
    script(src='fuse.min.js', type='text/javascript')
    script(src='vue.min.js', type='text/javascript')
  body
    #command
      input(v-on='keyup: search, keydown: tabcheck', v-model='word')
      ul#results
        li(v-repeat='result: results') {{result.full}} - {{result.description}}
    script(src='index.js', type='text/javascript')
